<!DOCTYPE html>
<html lang="en">
<body>
    <h1> HTML input & output practice</h1>
    <form action="/result" method="POST">
        <p><b>* Name</b> <input type='text' id='name' name='name' /></p>
        <p><b>* Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p><b>* Gender</b></p> 
        <p><label><input type="radio" name="Gender" value="Male">Male</label> 
        <label><input type="radio" name="Gender" value="Female">Female</label></p>
        <p><b>* Major</b> <input type='text' id='Major' name='Major' /></p>
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>